<div class="container" id="banner">
    <app-nav-bar></app-nav-bar>
</div>
<div class="container">
    <h2>An easy to find location!</h2>
    <hr>
    <p class="align-self-center">I currently work at Nstyle Salon located at 885 Broad Street Summersville, WV 26651 <br><br>
        Phone: (304) 872-6211</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25057.615652787063!2d-80.86795937914586!3d38.27481107720255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x884eaaddf99edbc1%3A0x1c26566db27abfd3!2sN%20Style!5e0!3m2!1sen!2sus!4v1695133971212!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>