#banner {
    width: 100%;
    height: auto;
    background-image: url(../../assets/banner.jpg);
    background-repeat: repeat-x;
    background-position: center bottom;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card {
    height: 525px;
    margin-top: 40px;
    background-color: #6eb7ac;
    color: #b76e79
}

.card-title {
    text-decoration: underline;
}

.card-text {
    font-style: italic;
}