<div class="container" id="banner">
    <app-nav-bar></app-nav-bar>
</div>
<div class="container">
    <div class="row row-cols-auto">
        <div *ngFor="let entry of entryList">
            <div class="card" style="max-width: 18rem">
                <img class="img-fluid rounded" src="{{entry.src}}" class="card-img-top" alt="Photo {{entry.itemNumber}}">
                <div class=" card-body">
                    <h4 class="card-title">{{ entry.name }}</h4>
                    <p class="card-text"> {{ entry.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
