<div class="container" id="banner">
    <app-nav-bar></app-nav-bar>
</div>
<div class="container">
    <h2>Hair is the ultimate accessory</h2>
    <div class="d-flex bio">
        <div class="container">
            <img class="img-fluid rounded profile-image" src="../../assets/Profile_Photo.jpg" alt="Profile Photo">
        </div>
        <div class="align-self-center">
            <p> Hello, my name is Chasity Hamrick. I currently work at <a href="location">NStyle Salon</a> in Summersville, WV.
                I have been working behind the chair since 2017 gaining an array of experience with different clientele.
                My passion for hair runs deep and I am constantly looking to learn and innovate my skills.
                I am a versatile stylist offering a wide range of services. My specialties include blonding, lived in balayage, and cutting.
                I have a loyal client base, but I am always looking to accept new clients into my chair. Check out my portfolio and book with me today!
            </p>
        </div>
    </div>
    <hr>
    <div class="d-flex" id="carousel-flex">
        <div class="container">
            <a href="services"><h2>Services</h2></a>
            <ul class="list-group align-self-center">
                <li>Blonding</li>
                <li>Foilayage</li>
                <li>Base Coverage</li>
                <li>Grey Coverage</li>
                <li>Lightener Retouch</li>
                <li>And More!</li>
            </ul>
        </div>
        <div class="container">
            <app-image-carousel></app-image-carousel>
        </div>
    </div>
    <hr>
    <div class="container">
        <h2>Want to look amazing on your big day??</h2>
        <h3>Look no futher!</h3>
        <div class="d-flex" id="wedding-flex">
            <div class="container">
                <img class="img-fluid rounded" src="../../assets/wedding_left.jpg" alt="wedding photo">
            </div>
            <div class="container">
                <p>Wedding hair offered upon request. As a woman I understand how important your big day is! Remove at least one concern by requesting your wedding hair today! For further information or to make a request click the link to my service page below! </p>
                <a href="services#requestForm"><button class="btn-btn-primary request-button">Make a Request</button></a>
            </div>
            <div class="container">
                <img class="img-fluid rounded" src="../../assets/wedding_right.jpg" alt="wedding photo">
            </div>
        </div>
    </div>
</div>
